
@font-face {
    font-family:"monument" ;
    src: url(assets/typefaces/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2);
}

@font-face {
    font-family:"bold" ;
    src: url(assets/typefaces/ABCMonumentGroteskSemi-Mono-Bold-Trial.woff2);
}

#navigation{
    position: absolute;
    right:5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    flex-wrap: wrap;
    

}

h2{
    font-family: monument;
    font-size: 15px;
    line-height: 0.2;
}

.navButtons{
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    margin-right: 20px;
}

h3{
    width: 70vw;
    font-family: monument;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
    max-width: 450px;
    color: white;
    background-color: #5e7bbaeb;
}

span{
    font-family: bold;
}
#title{
    font-family: bold;
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
    }

.links{
    text-decoration: underline;
}

#aboutButton{
    background-color: #5e7bbaeb;
}

#homeButton, #artButton, #designButton, #interactionButton{
    color: black;
}

