@font-face {
    font-family:"formula" ;
    src: url("typefaces/Formula Condensed/PPFormula-Medium.woff2");
}

@font-face {
    font-family:"monument" ;
    src: url("typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff2");
}
@font-face {
    font-family:"monument-semi" ;
    src: url("typefaces/ABC Monument Grotesk Semi-Mono/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2");
}

@font-face {
    font-family:"monument-italic" ;
    src: url("typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-RegularItalic-Trial.woff2");
}

@font-face {
    font-family:"hatton" ;
    src: url("typefaces/PPEditorialNew-UltralightItalic.woff2");
}

@font-face {
    font-family:"block" ;
    src: url("typefaces/NewFont-Regular.woff");
}


h1{
    font-family: monument;
    font-size: 17px;
}

h2{
    font-family: monument;
    font-size: 17px;
    color: rgb(126, 126, 126);
}

#header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;

}

#desc{
    width: 90%;
    margin:auto;
    margin-top: 40px;
    max-width: 700px;
}

#projectDesc{
    display: flex;
    margin-top: -20px;
}

#projectDesc>#left>p, #projectDesc>#right>p{
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: -5px;
}

#left{
    min-width: 100px;

}

#right{
    flex-shrink:1;
}



h3{
    font-family: block;
    font-size: 7vw;
    line-height: 1.3;
    border: 1.5px solid black;
    border-radius: 13px;
    box-sizing: border-box;
    padding: 20px;
    word-break: break-all;
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 5px;
    

    
}

h4{
    font-family: monument;
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 7px;
}

h5{
    font-family: monument-italic;
    margin-top: -13px;
    color: rgb(89, 89, 89)
    

}

#medium{
    padding-bottom: 7px;
}

#descText{
    font-family: monument;
    font-size: 13px;
    margin-top: -13px;
    padding-bottom: 15px;
    color: rgb(89, 89, 89);
    border-bottom: 1px solid rgb(89, 89, 89);

}

p{
    font-family: monument;
    font-size: 13px;
    margin-top: 20px;
}

#project{ 
    width: 90%;
    margin:auto;
    margin-top: 40px;
    max-width: 700px;
    }

img{
    width: 100%;
    padding-bottom: 30px;
}




#project {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47.5%;
  width: auto;
  margin-top: -22px;
  padding: 10px 15px;
  color: rgb(154, 154, 154);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 50px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 2%;
}

.prev {
    left: 2%;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color:black
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    width: 8%;
    cursor: pointer;
    margin: 0% 46%;
    font-size: 14px;
    display: inline-block;
    font-family: monument;
    transition: background-color 0.6s ease;
}

.dot {
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}



#credits{
    width: 100%;
    height: fit-content;
    text-align: center;
}

h6{
    font-family: monument-italic;
    font-size: 12px;
    margin: 0;
    color:rgb(128, 128, 128);
    line-height:1.4;
    
}

@media only screen and (min-width: 700px) {


    #header{
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 40px 40px;
        z-index: 20;
    }

    h1{
        margin-left:-13px;
        font-size:20px;
    }

    h2{
        font-size:22px;
    }

    #specimen1{
     width: 48%;
     margin-bottom: 80px;
     margin-right: 3%
    }
    
    #specimen2{
        width: 48%;
        margin-bottom: 80px;
    }

    .specimens{
        display: flex;
        flex-direction: row;
        
    }

    p{
        font-size:14px;
    }
    
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }


}

@media only screen and (min-width: 1100px) {


#gridContainer{
    grid-column-gap: 3%;
    width: 98vw;
    margin-left: 1vw;
    display: grid;
    grid-template-columns: 30% 67%;


}
#desc{
    width: 100%;
    margin-left:15px;
    margin-top: 40px;
    max-width: 500px;
    position: sticky;
    top: 100px;

}

#project{ 
    max-width: 1000px;}


#descText{
        border-bottom: 0px solid rgb(89, 89, 89);
    
    }
}
