
@font-face {
    font-family:"monument" ;
    src: url(assets/typefaces/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2);
}

@font-face {
    font-family:"bold" ;
    src: url(assets/typefaces/ABCMonumentGroteskSemi-Mono-Bold-Trial.woff2);
}


#navigation{
    position: absolute;
    right:5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    flex-wrap: wrap;
}


h2{
    font-family: monument;
    font-size: 15px;
    line-height: 0.2;
}

.navButtons{
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    margin-right: 20px;
}

a{
    color: black;
    text-decoration: none;
    }

    #homeButton{
        background-color: #5e7bbaeb;
        color:white;
    }

#interaction{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
}



h6{
    font-size: 20px;
    text-align: center;;
    font-family: monument;
    position: absolute;
    top: 50%;
    left: 50%;
    color:black;
    transform: translate(-50%,250%);
}



#face{
    border: 1.5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #5e7bbaeb;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%,-70%) rotate(90deg);

}

h1{
    font-family: monument;
    transform: translate(55%,40%);
}

