/* fonts */

@font-face {
    font-family:"montreal" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Regular.woff2");
}

@font-face {
    font-family:"montreal-italic" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Italic.woff2");
}

@font-face {
    font-family:"montreal-light" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Light.woff2");
}


@font-face {
    font-family:"telegraf" ;
    src: url("typefaces/Telegraf/Telegraf-Regular.woff2");
}

@font-face {
    font-family:"noto-thai" ;
    src: url("typefaces/NotoSansThai-Regular.woff2");
}

@font-face {
    font-family:"noto-thai-light" ;
    src: url("typefaces/NotoSansThai-Light.woff2");
}

@font-face {
    font-family:"sf-mono" ;
    src: url("typefaces/SFNSMono.woff2");
}


/* text */


