@font-face {
    font-family:"montreal" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Regular.woff2");
}

@font-face {
    font-family:"montreal-italic" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Italic.woff2");
}

@font-face {
    font-family:"montreal-light" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Light.woff2");
}

@font-face {
    font-family:"montreal-bold" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Bold.woff2");
}


@font-face {
    font-family:"montreal-lightItalic" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-LightItalic.woff2");
}

@font-face {
    font-family:"cirka" ;
    src: url("typefaces/PPCirka-Variable.woff");
}

body{
    padding: 0px 20px;
}

#header{
    background-color: white;
    position: sticky;
    top: 0px;
    padding:3px 0px 5px 0px;
    border-bottom: 0.75px solid black;
    z-index: 20;

}



#header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#name{
    flex-basis: 95%;
    height: fit-content;
}



#ing-info{
    margin-top:-12px;
    margin-bottom: 10px;
    color:rgb(135, 135, 135);
}

#info{
    margin-top: 20px;

}

#info>div{
    width: 100%;
}



#credits{
    display: block;
    text-align: center;
}

.year{
    margin-top: 25px;
}



/* text styling */

h1{
    font-family: cirka;
    font-weight: 10;
}

h2{
    font-family: cirka;
    font-weight: 10;
}

h3{
    font-family: cirka;
    line-height: 1.1;
    font-weight: 10;
}

h4{
    font-family: cirka;
    font-style: italic;
    font-weight: 10;
}

p{
    font-family: cirka;
    line-height: 1.05;
    font-weight: 10;
}

a{
    text-decoration:none;
    color: black;
}

span{
    font-style: italic;
    font-weight: 10;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {





h1{
    font-size: 19px;
}

h2{
    font-size: 17px;
}

h3, p, h4{
    font-size: 13px;
}

#header-flex>img{
    width: 35px;
    height: 35px;
    padding-right: 10px;
    
}

#header-flex>a>h1{
    margin-left: 20px;
}

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


#header-flex>img{
    width: 45px;
    height: 45px;
    padding-right: 10px;
    
}

#header-flex>a>h1{
    margin-left: 20px;
}

h1{
    font-size: 19px;
}

h2{
    font-size: 17px;
}

h3, p, h4{
    font-size: 13px;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 850px) {


#header-flex>img{
    width: 50px;
    height: 50px;
    margin-left: 0%;
    margin-top: 0px;
    
}

h1{
    font-size: 21px;
}

h2{
    font-size: 18px;
}

h3, p, h4{
    font-size: 14px;
}

#info{

}

#info>div{
    width: 50%;
}



}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {


    #flex{
        display: flex;
        width: 100%;
        border-bottom: 0.75px solid black;
    }

    #header{
        position: sticky;
        top: 0px;
    }



h3>a:hover{
    font-style: italic;
}

body{
    padding: 10px 30px;
}




.desc{
    padding-left: 1.5vw;
}

#credits{
    display: none;
}


}