@font-face {
    font-family:"formula" ;
    src: url("typefaces/Formula Condensed/PPFormula-Medium.woff2");
}

@font-face {
    font-family:"monument" ;
    src: url("typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff2");
}
@font-face {
    font-family:"monument-semi" ;
    src: url("typefaces/ABC Monument Grotesk Semi-Mono/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2");
}

@font-face {
    font-family:"monument-italic" ;
    src: url("typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-RegularItalic-Trial.woff2");
}

@font-face {
    font-family:"hatton" ;
    src: url("typefaces/PPEditorialNew-UltralightItalic.woff2");
}

@font-face {
    font-family:"block" ;
    src: url("typefaces/NewFont-Regular.woff");
}



h1{
    font-family: monument;
    font-size: 17px;
}

h2{
    font-family: monument;
    font-size: 17px;
    color: rgb(126, 126, 126);
}

#header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;

}

#desc{
    width: 90%;
    margin:auto;
    margin-top: 40px;
    max-width: 700px;
}

#projectDesc{
    display: flex;
    margin-top: -20px;
}

#projectDesc>#left>p, #projectDesc>#right>p{
    border-top: 1.3px solid black;
    padding-top: 10px;
    margin-top: -5px;
}

#left{
    min-width: 100px;

}

#right{
    flex-shrink:1;
}



h3{
    font-family: block;
    font-size: 7vw;
    line-height: 1.3;
    border-radius: 13px;
    box-sizing: border-box;
    padding: 6%;
    word-break: break-all;
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 5px;
}

h4{
    font-family: monument;
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 7px;
}

h5{
    font-family: monument-italic;
    margin-top: -13px;
    color: rgb(89, 89, 89)
    

}

#medium{
    padding-bottom: 7px;
}

#descText{
    font-family: monument;
    font-size: 13px;
    margin-top: -13px;
    padding-bottom: 15px;
    color: rgb(89, 89, 89);
    border-bottom: 1px solid rgb(89, 89, 89);

}

p{
    font-family: monument;
    font-size: 13px;
    margin-top: 20px;
}

#project{ 
    width: 90%;
    margin:auto;
    margin-top: 40px;
    max-width: 700px;
    }

img{
    width: 100%;
    padding-bottom: 30px;
}

video{
    border-radius: 8px;
}


img{
    border-radius: 8px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

#specimen1{
    border: 0.5px solid black;
    margin-top: 0px;
    flex-shrink: 1;
    padding-bottom: 0px;
}

#specimen2{
    border: 0.5px solid black;
    margin-top: 30px;
    flex-shrink: 1;
    padding-bottom: 0px;
    
}

.specimens{
    display: flex;
    flex-direction: column;
    
    
    
}

span{
    border: 1.3px solid black;
    padding: 3px 8px;
    border-radius: 20px;
}

#spreads{
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
    background-color: rgb(127, 127, 127);
    border-radius: 8px;
}

#cover{
    width: 50%;
    border-radius: 0px;
    filter: drop-shadow(rgb(66, 66, 66) 4px 5px 3px);
}

#spreadsgif{
    border-radius: 0px;
    filter: drop-shadow(rgb(65, 64, 64) 4px 5px 3px);
}

@media only screen and (min-width: 700px) {

    #header{
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 40px 40px;
        z-index: 20;
    }

    h1{
        margin-left:-13px;
        font-size:20px;
    }

    h2{
        font-size:22px;
    }

    #specimen1{
     width: 48%;
     margin-bottom: 80px;
     margin-right: 3%
    }
    
    #specimen2{
        width: 48%;
        margin-bottom: 80px;
    }

    .specimens{
        display: flex;
        flex-direction: row;
        
    }

    p{
        font-size:14px;
    }
    
    #left{
        min-width: 170px;
    
    }


}

@media only screen and (min-width: 1100px) {


#gridContainer{
    grid-column-gap: 3%;
    width: 98vw;
    margin-left: 1vw;
    display: grid;
    grid-template-columns: 30% 67%;


}
#desc{
    width: 100%;
    margin-left:15px;
    margin-top: 40px;
    max-width: 500px;
    position: sticky;
    top: 100px;

}

#project{ 
    max-width: 1000px;}


#descText{
        border-bottom: 0px solid rgb(89, 89, 89);
    
    }

    #left{
        min-width: 100px;
    
    }
}
