#bigcontainer {
 position: absolute;
 width: 50vw;
 height: 90vh;
 border: 1px solid black;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-48%);
}

@font-face {
    font-family:"favorit" ;
    src: url(assets/typefaces/abcfavoritmonovariable-trial-webfont.woff2);
}

h3 {
    font-family: "favorit";
    font-weight: 7;
    margin: 1.8vh;
    line-height: 15%;
    font-size:2vh;
}

#title {
    position: relative;
    border-bottom: 1px solid black;
    
}

a{
    font-family: "favorit";
    font-weight: 7;
    margin: 1.8vh;
    line-height: 15%;
    font-size:2vh;
}





