#bigcontainer {
 position: absolute;
 width: 95%;
 height: 95%;
 border: 1px solid black;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
}

@font-face {
    font-family:"favorit" ;
    src: url(assets/typefaces/abcfavoritmonovariable-trial-webfont.woff2);
}

h3 {
    font-family: "favorit";
    font-weight: 7;
    margin: 2%;
    line-height: 15%;
    font-size:150%;
}

#title {
    position: relative;
    border-bottom: 1px solid black;
    
}





