@font-face {
    font-family:"montreal" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Regular.woff2");
}

@font-face {
    font-family:"montreal-italic" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Italic.woff2");
}

@font-face {
    font-family:"montreal-light" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Light.woff2");
}

@font-face {
    font-family:"montreal-bold" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-Bold.woff2");
}


@font-face {
    font-family:"montreal-lightItalic" ;
    src: url("typefaces/Neue Montreal/NeueMontreal-LightItalic.woff2");
}

@font-face {
    font-family:"cirka" ;
    src: url("typefaces/PPCirka-Variable.woff");
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    margin: 0%;
    padding: 0% 6%;
    overflow-x: hidden;
}

#header{
    position: sticky;
    top: 0px;
    background-color: rgb(245, 245, 245);
    padding: 1px;
    width: 100vw;
    z-index: 10;
    display: flex;

}



#landing{
    height: 100vh;
}

h1{
    font-size: 55px;
    font-family: cirka;
    font-weight: lighter;
    letter-spacing: -3px;
}

#landing>div>h3{
    font-size: 30px;
    margin-top: -22px;
    color: grey;
}

#landing>div>h3:hover{
    color: black;
    font-style: italic;
}


#thai{
    font-weight: lighter;
    font-size: 22px;
}

.italicize{
    /* font-style: italic; */
    color: grey;
 
}

.year{
    font-style: italic;
    font-size: 22px;
    color: grey;

}

h2{
    font-family: montreal;
    font-size: 18px;
}

h5{
    font-size: 14px;
    font-family: montreal-italic;
    margin-top: -14px;
    color: grey;
}

a{
    text-decoration: none;
    color: inherit;
}

h3{
    font-size: 45px;
    font-family: montreal-light;
    color: grey;
}


#nav-buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
}

.project{
    margin-bottom: 60px;
 
}

  
img, video{
    width: 100%;
    margin-top: 20px;
}


p{
    font-family: montreal;
    font-size: 15px;
}

.proj-no{
    font-family: cirka;
    font-size: 35px;
    margin-top: 30px;
    letter-spacing: -1px;
    color: black;
}



.proj-category{
    margin-top: -25px;
    color: grey;
}

.proj-desc{
    margin-top: 0px;
    color: grey;
}


/* .button{
    margin-top: 10px;
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
    font-family: montreal
} */


#footer{
    color: grey;
    margin: 40px;
    text-align: center;
}


/* info page */

h4{
font-family: cirka;
font-weight: lighter;
letter-spacing: -1px;
font-size: 30px;
width: 100%;
/* font-style: italic; */
}

/* laning page showcase */

#work-showcase{
    position: absolute;
    display: flex;
    width: 88vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mySlides {
    display: none;
    transition: opacity 1s ease-in-out;
  }

  #work-showcase>div{
    height: 100%;
  }

#work-showcase>div>img{
    width:100%;
    z-index: 10;
    margin-top: 0;
}

.linkButtons{
    font-size: 18px;
    border: 1.5px solid black;
    color: black;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: -10px;
}

.linkButtons:hover{
    background-color: black;
    color: white;
}

h4{
    font-size: 25px;
}

@media only screen and (max-width: 600px) {


}


@media only screen and (min-width: 800px) {
    

    h1{
        font-size: 80px;
        font-family: cirka;
        font-weight: lighter;
        letter-spacing: -4px;
    }

    #landing>div>h3{
        font-size: 35px;
        margin-top: -35px;
    }

    #nav-buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #nav-buttons>h3{
        display: flex;
        flex-direction: row;
        margin-right: 5%;
    }

  .flexbox{
    display: flex;
    flex-direction: row;
  }

  .proj-title{
    font-size: 30px;
    color: grey;
}

  .info{
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .desc{
    width: 60%;
    margin-left: 40px;
  }

  p{
    font-family: montreal;
    font-size: 15px;
  }

  .project{
    margin-bottom: 60px;
  }


  #misc-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

#work-showcase{
    top: 50%;
    height:55vh;
    transform: translate(-50%,-40%);
}




h4{
    width: 90%;
    font-size: 30px;
    letter-spacing: -1px;
    /* font-style: italic; */
    }

}





@media only screen and (min-width: 1100px) {

    body{
        margin: 0%;
        padding: 0% 3%;
    }

    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .project{
        margin-bottom: 20px;
      }


    #nav-buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #work-showcase{
        position: absolute;
        right: 3vw;
        left: auto;
        width: 45%;        
        height: 88vh;     
        transform: translate(0%, -50%);
        overflow: hidden;

    }

    #work-showcase>div>img{
        height: 100%;
        width: auto;
        display: block;
        object-fit: contain;
      }


        #info{
    display: flex;
    flex-direction:row;
        }

     #info>div{
        width: 50%;
     }
    }




@media only screen and (min-width: 1400px) {
    #work-showcase{
        width: 55%;    


    }
}

