@font-face {
    font-family:"NeueBit" ;
    src: url(assets/webfontkit-20230320-192359/neuebit-bold-webfont.woff
    );}

@font-face {
    font-family:"Mondwest" ;
    src: url(assets/webfontkit-20230320-192359/ppmondwest-regular-webfont.woff);}

    @font-face {
        font-family:"Segoe" ;
        src: url(assets/segoe-ui-4-cufonfonts-webfont/Segoe-UI.woff);}
    


/* Landing page */


body{
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    
}


#landing-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:black;
    overflow: hidden;
}



h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    text-align: left;
    font-family: Neuebit;
    font-size: 80px;
    color: black;
    z-index: 10;
    line-height: 0.7;
    filter: blur(5px);
    animation: text-blur 1s ease-in-out 6s 1 normal forwards;
}



#aboutText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    font-family: Neuebit;
    font-size: 16px;
    color: black;
    width: 220px;
    z-index: 10;
    animation: about 1s ease-in-out 0s 1 normal forwards paused;
    opacity: 0;
}

#instructionText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    font-family: Neuebit;
    font-size: 17px;
    color: black;
    width: 220px;
    z-index: 10;
    animation: about 1s ease-in-out 0s 1 normal forwards paused;
    opacity: 0;
}

#instructionText > span{
    font-size: 13px;
}


button{
    margin: 20px 10px;
    color: #50C878;
    background-color: transparent;
    border: 1px solid #50C878 ;
    border-radius: 30px;
    font-size: 20px;
    font-family: Neuebit;
    display: inline;
    z-index: 100;
    opacity: 0;
    padding: 5px;
    animation: showButton 0.8s ease-in-out 6s 1 normal forwards;

}

#buttons{
    
    display: flex;
    justify-content: center;
    filter: blur(0.5px);
    z-index: 10;
    
}

button:hover{
    background-color: #50C878;
    color: black;
    

}

@keyframes showButton{
    100% {opacity: 1;}
}

#flashlight{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 310px;
    height: 200px;
    background-color: #50C878 ;
    border-radius: 5px;
    z-index: 0;
    filter: blur(10px);
    animation: landing-animation 6s ease-out 1s 1 normal forwards;
    /* animation: instructions 2s ease-in-out 0s 1 normal forwards; */
}




@keyframes landing-animation{
    0%{top: 0%;
        left: 0%;}
    20%{top: 30%;
        left: 70%;}
    40%{top: 90%;
        left: 0%;}
    60%{top: 80%;
        left: 80%;}
    80%{top: 50%;
        left:50%;
         transform: translate(-50%,-102%);}
    90%{
        filter: blur(8px);
        top: 50%;
        left:50%;
         transform: translate(-50%,-102%);}
    100%{
        filter: blur(6px);
        top: 50%;
        left:50%;
         transform: translate(-50%,-102%);}
    }

    @keyframes about{
        100%{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -15%);
            opacity: 1;
        }
    }

    @keyframes instructions{
        100%{
            width: 90vw;
            left: 5vw;
            top: 60vh;
        }
    }

    @keyframes text-blur{
        0%{
            filter: blur(5px);
        }
        100%{
            filter: blur(1px);
        }
    }








/* About page */


#about{
    position: absolute;
    top: 0vh;
    left: 100vw;
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;

}



/* Data page */



/* warning pop up */

#data-page{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#warningWindow{
    border: 2px solid #50C878;
    position: absolute;
    width: 400px;
    top: 150%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
    margin-bottom: 50px;
    animation: disappear 0.01s linear 2.5s 1 normal both;
    animation-play-state: paused;
}

#warningWindow > h3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 0;
    font-family: Neuebit;
    color: white;
    font-size: 30px;
    border-bottom: 2px solid #50C878;
    padding: 10px 30px 5px;
}

span{
    line-height: 1.1;
}

h4{
    font-family: Neuebit;
    font-size: 25px;
    color: white;
    text-align: center;
}

#proceedButton, #cancelButton{
margin-top: 0px;
border: 1px solid #50C878;
padding: 10px 40px;
}

#proceedButton:hover ,#cancelButton:hover{
    background-color: #50C878;
    color: black;
} 

#warningButtons{
display: flex;
flex-direction: row;
justify-content: space-around;
}

#loading{
    border: 2px solid #50C878;
    width: 85%;
    height: 20px;
    margin: 30px 7.5% 50px;
    display: none;
    
}

#loadingBar{
    background-color: #50C878;
    width: 0%;
    height: 100%;
    animation: loading 2.4s linear 0s 1 normal both;
    
}

@keyframes loading{
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes disappear{
    from {opacity: 1;}
    to {opacity: 0;
    z-index: -20;}
}

@keyframes appear{
    from {opacity: 0;}
    to {opacity: 1;}
}



#returnbutton{
    border: 1px solid #50C878;
    background-color: black;
    color: #50C878;
    position: absolute;
    padding: 30px 20px;
    display: none;

    
    }
    
#returnbutton:hover{
    background-color: #50C878;
    color: black;
    }

/* Display images */

.textdiv{
    height: 30px;
    width: 100%;
    z-index: 110;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
}

.textdiv > p{
    font-size: 12px;
}

p{
    
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    z-index: 10;
    font-family: segoe;
    font-size: 11px;
    filter: blur(0.7px);
    color: #50C878;
}

.videodiv{
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    z-index: 0;
    opacity: 0;
}

.videodiv > p{
    font-size: 13px;
}

.info{
    position: absolute;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow-y: scroll;
    box-sizing: border-box;
}

video{
    width: 100%;
    border-radius: 7px;
}

#grid-container{
    margin: 5vw 15vw 5vw;
    width: 70vw;
    height: 80vh;
    overflow-y: scroll;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    z-index: 10;
    animation: appear 0.01s linear 2.5s 1 normal both;
    animation-play-state: paused;

}


img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}


.container{
   position: relative;
 filter: grayscale(1);
 border-radius: 7px;
}

.container:hover{
    filter: none;
    border: 1.5px solid #50C878;
}

.container:hover > .overlay{
    opacity: 0.1;
}

.container:hover > .textdiv{
    opacity: 1;
}

.container:hover > .videodiv{
    opacity: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    opacity: 0.1;
}




/* Filter system */

#filter-system{
    width: 70vw;
    margin: auto;
    opacity: 0;
    animation: appear 0.01s linear 2.5s 1 normal both;
    animation-play-state: paused;
}

#filter-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
   
}



#filter-system > #filter-options > h4{
    font-family: NeueBit;
    font-size: 20px;
    color:#50C878;
    margin: 0px 0px 30px;
    padding: 5px 10px;
}

h5{
    font-family: NeueBit;
    font-size: 20px;
    color:#50C878;
    margin: 0px 0px 30px;
    border: 1px solid #50C878;
    border-radius: 20px;
    padding: 5px 10px;
}

h5:hover{
    color: black;
    background-color: #50C878;
}

h6{
    font-family: NeueBit;
    font-size: 20px;
    color:#50C878;
    margin: 0px 0px 30px;
    padding: 5px 10px;

}

#reset{
    text-decoration: underline;
}



ul{
   margin-top: -10px;
   margin-left: -35px;
   font-size: 20px;
   font-family: NeueBit;
   display: none;
   flex-direction: row;
   color: #50C878;
   list-style-type: none;

}

li{
    text-align: center;
    padding: 4px 8px;
    height: 100%;
    border: 1px solid #50C878;
    flex-grow: 1;
}

li:hover{
    color: black;
    background-color: #50C878;
}

#invasionfilter{
    justify-content: space-between;
}

#mediafilter{
    justify-content: start;
}



#videogrid{
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 7px;
    width: 70vw;
    height: fit-content;
    position: absolute;
    left: 15vw;
    top: 113vh;
    overflow: hidden;
    filter:grayscale(1);
    
}

#videoElement1, #videoElement6 {
    width: 180%;
    height: auto;
}

#videoElement2, #videoElement8 {
    width: 250%;
    height: auto;
    margin-left: -150%;
    margin-top: 0%;
    
}

#videoElement3, #videoElement11 {
    width: 200%;
    height: auto;
    margin-left: -80%;
    margin-top: -60%;
}

#videoElement5, #videoElement10 {
    width: 300%;
    height: auto;
    margin-left: -100%;
    margin-top: -100%;
}


.video-container1{
    width: 100%;
    height: 25vw;
    border-radius: 7px;
    overflow-y: hidden;
}

.video-container2{
    display: none;
    overflow: hidden;
    border-radius: 7px;
    height: 25vw;
}

/* #instructions{
    color: #50C878;
    border: 1px solid #50C878;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: -10px;
    width: fit-content;
} */








@media only screen and (max-width: 600px) {


.textdiv{
    flex-direction: row;
    line-height: 0;
    margin-top: 0px;
}



}

@media only screen and (min-width: 700px) {

    

    #grid-container{
        margin: 3vw 15vw 5vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #videogrid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
        margin: 4vw 0vw 5vw;
    }
 
    .video-container1, .video-container2{
        display: inline-block;
        height: 15vw;
    }

    h1{
        transform: translate(-50%, -180%);
        font-size: 120px;
        width: 370px;
     
    }
    #aboutText, #instructionText{
        font-size: 20px;
        width: 370px;
        margin: 0vw;
    }

    #flashlight{
        width: 500px;
        height: 270px;
    }


    button{
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 20px;
        display: inline;
        font-size: 25px;
        padding: 5px 15px;
    }
    #landing-photo{
        margin-top: 1.5vh;
        width: 85vw;
        height: 45vh;
        overflow: hidden;
    }
    
    .image{
        margin-top: -700px;
        width: 100%;
        height: auto;
    }
    
    #landing-overlay{
        position: absolute;
        opacity: 0.1;
        width: 85vw;
        height: 45vh;
        margin-top: 0px;
        margin-left: -85vw;
    }

    #filter-system > #filter-options > h4, h5,h6, ul {
        font-size: 25px;
    }

    p{
        font-size: 15px;
    }

    .videodiv > p{
        font-size: 15px;
    }

    .textdiv > p{
        font-size: 15px;
    }

}

@media only screen and (min-width: 750px){
    .info{
        line-height:1.5;
    }
}


@media only screen and (min-width: 1200px){

    
    button{
        font-size: 28px;
        padding: 5px 20px;
        margin: 30px 30px;
    }

    h1{
        width: 600px;
    }

    #aboutText, #instructionText{
        font-size: 23px;
        width: 600px;
        margin: 0vw;
    }

    #flashlight{
        width: 700px;
    }

    @keyframes about{
        100%{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -5%);
            opacity: 1;
        }
    } 







     #grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #videogrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    
    .video-container1, .video-container2{
        display: inline-block;
        height: 12vw;
    }


}