
@font-face {
    font-family:"formula" ;
    src: url("typefaces/Formula Condensed/PPFormula-Medium.woff2");
}

@font-face {
    font-family:"monument" ;
    src: url("typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff2");
}
@font-face {
    font-family:"monument-semi" ;
    src: url("typefaces/ABC Monument Grotesk Semi-Mono/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2");
}

@font-face {
    font-family:"monument-italic" ;
    src: url("typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-RegularItalic-Trial.woff2");
}

@font-face {
    font-family:"hatton" ;
    src: url("typefaces/PPEditorialNew-UltralightItalic.woff2");
}



h1{
    font-family: monument;
    font-size: 17px;
}

h2{
    font-family: monument;
    font-size: 17px;
    color: rgb(126, 126, 126);
}




#header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;

}

h3{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    color: black;
    margin: 0;
    line-height:1.2;
    
}

h4{
    font-family: monument;
    font-size: 13px;
    margin: 0;
    color:rgb(95, 95, 95);
    line-height:1.4;
}

.cards{
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 35px;
    user-select: none;
    filter: drop-shadow(3px 4px 0px black);

}


#card1{
    width: 400px;
    height: 250px;
    transform: rotate(20deg);
    background-color: black;
    left: 5%;
    top: 20%;
    z-index: 200;
}

#card2{
    width: 400px;
    height: 250px;
    transform: rotate(-30deg);
    background-color: black;
    z-index: 100;
    left: 40%;
    top: 50%;
    animation: fall 1s linear 0s 1 normal forwards;
}

#card2>h3{
    font-family: monument;
    font-size: 20px;
}

a{
    color: black;
}

#card3{
    width: 300px;
    height: 300px;
    transform: rotate(10deg);
    background-color: black;
    z-index: 100;
    left: 10%;
    top: 60%;
}

#card3>h4{
    font-family: monument;
    font-size: 20px;
}

#card4{
    width: 250px;
    height: 400px;
    transform: rotate(-10deg);
    background-color: black;
    z-index: 100;
    right: 20%;
    top: 10%;
}

#card4>h3{
    font-size: 22px;
}

#card4>h4{
    font-size: 20px;
}

#sticker1{
    width: 200px;
    z-index: 2000;
}

.stickers{
    filter: drop-shadow(2px 2px 0px black);
}

@media only screen and (min-width: 700px) {

    #header{
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 40px 40px;
        z-index: 20;
    }

    h1{
        margin-left:-13px;
        font-size:20px;
    }

    h2{
        font-size:22px;
    }


}

@media only screen and (min-width: 1000px) {







}