@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500&family=Golos+Text&family=Space+Grotesk:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');



/* .menu:hover{
    background-color: #F1EEE8;
} */
 


/* #plan{
    background-color: #4A85F7;
    padding: 30px;
    
} */