@font-face {
    font-family:"formula" ;
    src: url("/typefaces/Formula Condensed/PPFormula-Medium.woff2");
}

@font-face {
    font-family:"monument" ;
    src: url("/typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff2");
}

@font-face {
    font-family:"monument-italic" ;
    src: url("/typefaces/ABC Monument Grotesk/ABC Monument-Grotesk/ABCMonumentGrotesk-RegularItalic-Trial.woff2");
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

#bigContainer{
    height: 400vh;
    margin:0;
}

#header{
color:rgb(0, 0, 0);
position: -webkit-sticky;
position: sticky;
top:0;
box-sizing: border-box;
width: 99vw;
height: 80px;
display: flex;
align-items: center;
padding: 10px;
background-color: white;
z-index: 100;
}

h1{
    font-family: "formula";
    color:rgb(0, 0, 0);
    font-size: 20px;
    flex-grow:1;
    margin-left: 5px;
}


i{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

#flexContainer{
    display: flex;
    flex-direction: row;
    /* border: 1px solid  black; */
    width: 97vw;
    height: 700vh;
    position: absolute;
}

#gridContainer{
    /* border: 1px solid black; */
    width: calc(100vw - 320px);
    height: fit-content;
    position: absolute;
    right: 0px;
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 15px;
}

#categories{
width: fit-content;
height: fit-content;
position: -webkit-sticky;
position: sticky;
top: 100px;
}

h2{
    font-family: "formula";
    color:rgb(0, 0, 0);
    font-size: 13px;
    margin-top:0;
    margin-bottom: 20px;
    border-radius: 5px;
    width: fit-content;
    margin-left: 20px;
}

h3{
    font-family: "monument";
    color:rgb(0, 0, 0);
    font-size: 13px;
    margin-left: 18px;
    margin-top: -5px;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 4px 8px 3px;
}

h3:hover{
    background-color: black;
    color: white;
}

img{
    width:100%;
}

h4{
font-family: monument;
font-size: 30px;
margin-top: 10px;
}

h5{
    font-family: monument-italic
}

p{
font-family: monument;
width: 100%;
font-size: 14px;
}





@media only screen and (min-width: 1000px) {

    /* #gridContainer{
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        width: calc(100vw - 280px);
    } */

    #textContainer{
        display: flex;
        flex-direction: row;
        }

        #title{
            display: flex;
            flex-direction: column;
            width: 500px;
            justify-content: space-between;
        }

        /* #posters{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        #posters>img{
            width: 49%;
        
        } */

}