@font-face {
    font-family:"monument" ;
    src: url(assets/typefaces/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2);
}

@font-face {
    font-family:"bold" ;
    src: url(assets/typefaces/ABCMonumentGroteskSemi-Mono-Bold-Trial.woff2);
}
body{
    background-color: rgb(230, 230, 230);
}
/* navigation bar */

#navigation{
    position: absolute;
    right:5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    flex-wrap: wrap;
}


h2{
    font-family: monument;
    font-size: 15px;
    line-height: 0.2;
}

.navButtons{
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    margin-right: 20px;
}

a{
    color: black;
    text-decoration: none;
    }

    #designButton{
        background-color: #5e7bbaeb;
        color:black;
    }

    .navButtons:hover{
        background-color: #5e7bbaeb;
    }

/* text styling */

    #gridContainer{
        position: absolute;
        top: 150px;
        left:10vw;
        display: grid;
        grid-template-columns:  1fr;
        width: 80vw;
        
        
    }

    .projects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 2.5fr 2fr;
    }

    h1{
        font-size: 15px;
        font-family: monument;
        text-decoration: underline;
    }

    p{
        font-size: 12px;
        font-family: monument;

    }

    img{
        width: 100%;
    }

    




    @media only screen and (min-width: 600px) {

        #gridContainer{
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            width: 85vw;
            left: 7.5vw;
            grid-column-gap: 50px;
            
        }
    }
    
    @media only screen and (min-width: 1000px) {
    
        #gridContainer{
            grid-template-columns: 1fr 1fr 1fr;
            
        }
    }
    
